* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
header {
  padding: 5px;
}

.header-container {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
}

ul a {
  display: inline-block;
  color: #4f4f4f;
  margin-right: 16px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
header ul a:hover {
  color: #1b55f5;
}
nav ul {
  border: 1px solid #dcdcdc;
  position: absolute;
  top: 59px;
  width: 100%;
  z-index: 1;
  background: #fff;
}
nav ul a {
  display: block;
  line-height: 2.5;
  padding-left: 16px;
  color: #1b1b1b;
}
nav ul a:hover {
  background: #f3f6fe;
}

.header-container .menu {
  display: none;
}
ul a:last-child {
  margin-right: 10px;
}
.btn {
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 26px;
  color: #fff;
  background: #1b55f5;
  border-radius: 3px;
}
.btn-menu {
  color: #1b1b1b;
  background: #fff;
  padding: 15px 0 15px 26px;
}

.save-code {
  padding: 10px;
  text-align: center;
  background: #3cffa5;
  margin-bottom: 16px;
  font-weight: bold;
  color: #252e5d;
}
/*-------------main----------------  */
main {
  background: #fafafa;
  /* padding: 16px 0; */
}
.row {
  /* border: 1px solid #000; */
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
}
.col-1 {
  margin-right: 16px;
  /* border: 1px solid #000; */
}
.col-2 {
  /* border: 1px solid #000; */
  width: 100%;
}

.filter {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 11px 12px 6px;
}
.filter h4 {
  color: #313131;
}
.filter input {
  border: 1px solid #dddddd;
  font-size: 16px;
  padding: 10px 8px;
  flex-basis: 30%;
  border-radius: 3px;
}
.filter .sorting {
  display: flex;
  align-items: center;
  /* border: 1px solid #000; */
}
.filter .sorting select {
  border: 1px solid #dddddd;
  margin-left: 16px;
  padding: 8px 10px;
  font-size: 16px;
  color: #272727;
  border-radius: 3px;
}
.filter .sorting h4 {
  display: flex;
  align-items: center;
  color: #313131;
}
.filter .sorting i {
  font-size: 25px;
  margin-right: 10px;
}
.filtring {
  display: flex;
  margin-bottom: 10px;
}
.filtring-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px;
  background: #1b55f5;
  border-radius: 3px;
}
.filtring-show h4 {
  margin-right: 6px;
  color: #f1f4fe;
}
.filtring-show a {
  font-size: 27px;
  color: #f1f4fe;
  margin-bottom: 8px;
}
.location {
  /* border: 1px solid #dddddd; */
  box-shadow: 0 0 8px 0 #dddddd;
  padding: 25px 18px;
  margin-bottom: 18px;
  background: #fff;
}
.location h4 {
  color: #494f74;
  margin-bottom: 10px;
}
.location .input-text {
  width: 220px;
  margin: 0 2px 16px;
  border: 1px solid #dcdcdc;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 3px;
}
.location p {
  font-size: 11px;
  color: #454d75;
}
.booking {
  margin-bottom: 5px;
}

.booking h4 {
  color: #494f74;
  margin-bottom: 10px;
}
.booking .flex-radio {
  /* border: 1px solid #000; */
  display: flex;
}
.booking .input-radio {
  margin-right: 16px;
  margin-bottom: 16px;
  width: 20px;
  height: 20px;
}
.booking label {
  font-size: 15px;
  color: #1b1b1b;
  /* border: 1px solid #000; */
}

.budget {
  margin-bottom: 20px;
}

.budget h4 {
  color: #494f74;
  margin-bottom: 10px;
}
.budget p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #1b1b1b;
}
.input-range {
  width: 100%;
  height: 2px;
  outline: none;
}

.seats {
  margin-bottom: 20px;
}
.seats h4 {
  color: #494f74;
  margin-bottom: 10px;
}
.seats p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #1b1b1b;
}
.see-more-filter {
  font-size: 15px;
  color: #1b1b1b;
}
.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid #000; */
  margin-bottom: 14px;
  width: 100%;
}
.car {
  width: 260px;
  width: 32%;
  padding: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 1px;
  /* border: 1px solid #dddddd; */
  box-shadow: 0 0 10px 0 #e9e9e9;
  background: #fff;
}
.flex-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #000; */
  margin-bottom: 5px;
}
.flex-price-box h4 {
  color: #1b55f5;
  font-size: 14px;
  background: #f2f5fe;
  border-radius: 20px;
  padding: 5px 7px;
  align-self: flex-start;
  margin-top: 2px;
}
.flex-price-right h2 {
  color: #252e5d;
}
.flex-price-right h2 span {
  color: #454d75;
  font-weight: normal;
  font-size: 13px;
}
.flex-price-right p {
  color: #454d75;
  font-size: 13px;
}
.car img {
  width: 100%;
}
.car-name h4 {
  color: #252e5d;
  margin-bottom: 6px;
}
.car-name p {
  color: #454d75;
  font-size: 15px;
  margin-bottom: 8px;
}
hr {
  margin-bottom: 8px;
  /* padding: 8px; */
  border-top: 1px solid #dcdcdc;
}
.car-control p {
  color: #454d75;
  font-size: 13px;
}
.car-control p span {
  background: #c4ffe4;
  padding: 3px 8px;
  border-radius: 30px;
}

.pagination {
  /* border: 1px solid #000; */
  text-align: center;
  margin-bottom: 25px;
}
.pagination h4 {
  margin-bottom: 16px;
  font-weight: normal;
  color: #293260;
}
.pagination ul button {
  border: none;
  padding: 8px 13px;
  color: #293260;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.pagination ul .current-page {
  color: #e7edfe;
  background: #1b55f5;
}
.specific-car {
  /* border: 1px solid #000; */
  background: #fff;
  margin: 0 10px;
  padding: 50px 0;
}
.specific-car-container {
  /* border: 1px solid red; */
  width: 500px;
  margin: 0 auto;
  background: #fff;
}
.specific-car-container h2 {
  color: #252e5d;
  margin-bottom: 16px;
}
.specific-car-container p {
  color: #949494;
  margin-bottom: 14px;
  font-size: 15px;
}

.specific-car-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 16px;
}
.specific-car-container input::placeholder {
  color: #4a4a4a;
}
.specific-car-container h2,
.specific-car-container p {
  text-align: center;
}

.specific-car-container label {
  color: #4a4a4a;
  font-size: 15px;
}

.specific-car-container select {
  width: 100%;
  padding: 10px 13px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 6px;
  color: #4a4a4a;
  margin-bottom: 16px;
}
.specific-car-container .check-container {
  margin-bottom: 20px;
}
.specific-car-container .btn-container {
  text-align: center;
}

.specific-car-container button {
  font-size: 17px;
}

/* footer */

footer {
  background: #252e5d;
  color: #fff;
  height: 100vh;
}

.footer-container {
  max-width: 1110px;
  margin: 0 auto;
}
.footer-box-1 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #212954;
}
.footer-box-2 {
  padding: 40px 70px 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212954;
  flex-wrap: wrap;
}
.footer-box-2 h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-box-2 ul a {
  display: block;
  color: #e2e3e9;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.8;
}
.footer-box-2 ul a:hover {
  text-decoration: underline;
}
.footer-box-2 .support {
  flex-basis: 30%;
}
.footer-box-2 .icons-container {
  margin-top: 100%;
}
.footer-box-2 .icons-container i {
  margin-right: 10px;
}
.footer-box-3 {
  padding-top: 50px;
  text-align: center;
  font-size: 13px;
  color: #e2e3e9;
  line-height: 2;
  color: #dbdde4;
}

@media only screen and (max-width: 1200px) {
  header {
    /* background: red; */
  }
  .header-container {
    max-width: 1000px;
  }
  .location .input-text {
    width: 150px;
  }
  .row {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 1050px) {
  header {
    /* background: chartreuse; */
  }
  .header-container {
    max-width: 890px;
  }
  .header-container ul {
    display: none;
  }
  .header-container .menu {
    display: inline-block;
    margin-right: 10px;
  }
  .header-container .btn-menu {
    cursor: pointer;
    /* border: 1px solid black; */
  }
  .col-1 {
    display: none;
  }
  .row {
    max-width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  header {
    /* background: blue; */
  }
  .header-container {
    max-width: 690px;
  }
  .row {
    max-width: 700px;
  }
  .car {
    width: 48%;
  }
  footer {
    height: 100%;
  }
  .footer-box-1 {
    flex-direction: column;
  }
  .footer-box-1 h1 {
    text-align: center;
    margin-bottom: 16px;
  }
  .footer-box-1 .btn-footer {
    text-align: center;
  }
  .footer-box-1 .btn-footer button {
    width: 80%;
  }
  .footer-box-2 {
    flex-direction: column;
    align-items: center;
  }
  .footer-box-2 ul {
    /* border: 1px solid black; */
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-box-2 ul a {
    /* border: 1px solid black; */
    width: 100%;
  }
  .footer-box-2 .icons-container {
    margin-top: 10px;
    /* border: 1px solid black; */
    text-align: center;
  }
  .footer-box-3 {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 720px) {
  header {
    /* background: yellow; */
  }
  .header-container {
    /* max-width: 415px; */
    max-width: 450px;
  }
  .row {
    /* max-width: 420px; */
    max-width: 460px;
  }
  .car {
    width: 100%;
  }
  .specific-car-container {
    width: 400px;
  }
  .specific-car-container button {
    width: 100%;
  }
  .filter {
    display: block;
    padding: 12px 10px 12px 0px;
  }
  .filter h4 {
    color: #313131;
    margin-bottom: 8px;
  }
  .filter input {
    margin-bottom: 8px;
    width: 100%;
  }
  .filter .sorting {
    display: block;
  }

  .filter .sorting select {
    border: 1px solid #dddddd;
    padding: 8px 10px;
    margin-left: 0px;
    font-size: 16px;
    color: #272727;
    width: 100%;
  }
  .filter .sorting h4 {
    display: none;
  }
}
